<!-- sidebar -->
<div class="bg-blue">
  <div class="side text-center px-0">
    <img src="../images/Rectangle 63.png" class="middle text-center" />
  </div>
  <div class="list-group list-group-flush">
    <div class="mt-3">
      <a class="text-white text-center" href="#!" style="text-decoration: none">
        <div>
          <img src="../images/Group 2.png" class="post-icon" />
        </div>
        <div>Dashbord</div>
      </a>
    </div>
    <div class="mt-3">
      <a
        class="text-white bordernone text-car text-center"
        href="#!"
        style="text-decoration: none"
      >
        <div>
          <img src="../images/fi_truck.png" />
        </div>
        <div>Cars</div>
      </a>
    </div>
  </div>
</div>

<div class="d-flex" id="wrapper">
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <img src="../images/Rectangle 62.png" />
    </div>
    <div class="list-group list-group-flush mt-4">
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold border-bottom-0"
        href="#!"
        >CARS</a
      >
      <a
        class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold"
        href="#!"
        >List Car</a
      >
    </div>
  </div>
</div>
